{% if post.author %}
  {% assign author = post.author %}
{% elsif page.author %}
  {% assign author = page.author %}
{% else %}
  {% assign author = site.author %}
{% endif %}
{% if author %}
    <span class="author">Archived by {% if page.archivist %}<a title="@{{page.archivist}}" href="https://members.ynwk.org/@{{page.archivist}}"><img style="border-radius:3.5px" onerror="this.onerror=null; this.src='https://ugc.ynwk.org/profile/p/default/png/default.png';" src="https://ugc.ynwk.org/profile/p/default/png/@{{page.archivist}}.png"   height="16"   width="16"> @{{page.archivist}}</a>{% else %}<a href="https://archives.ynwk.org">The yEAh Archive Team</a>{% endif %}
    </span>
{% endif %}
