{% if post.author %}
  {% assign author = post.author %}
{% elsif page.author %}
  {% assign author = page.author %}
{% else %}
  {% assign author = site.author %}
{% endif %}
{% if author %}
    <span class="author">Archived by {% if page.archivist %}<a href="https://members.yeahgames.net/@{{page.archivist}}"><img   src="https://cdn.yeahgames.net/img/members/profile/default/@{{page.archivist}}.png"   height="16"   width="16"> @{{page.archivist}}</a>{% else %}The Archive Team{% endif %}
    </span>
{% endif %}
