<div class="sidebar classic-sidebar">
    <a href="https://ads.yeahgames.net/ad/click/library/id=xCNUnk3VY0SxzLP"><img src="https://ads.yeahgames.net/source/library/id=xCNUnk3VY0SxzLP/ad.png"></a>
<!--
    <div class="widget">
        <h3 class="title">Categories</h3>
        {% include category_list.html %}
    </div>
   
    <div class="widget">
        <h3 class="title">Tags</h3>
        {% include tag_list.html %}
    </div>

    <div class="widget">
        <h3 class="title">Authors</h3>
        {% include author_list.html %}
    </div>    
-->
</div>
