<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
    </head>

    <body class="has-classic-sidebar-left">
        <header class="head">
            {% include nav.html %}
            {% include header.html %}
        </header>
        {% include search.html %}
        <div class="margin">
            <div class="content">
                <div class="content-container">
                    <article>

                        <h3 class="post-title">
                            "{{ page.title }}"
                        </h3>
                        <div class="meta">
                            {% include author.html%}
                            <span class="date">
                                on <b>{{ page.adate | date: '%B %d, %Y' }}</b>
                            </span>
                        </div>
                        {% if page.type == "standard" %}
                        {% endif %}
                        <div class="post-content"> <!--start artifact default layout-->
                            <style>
                                #expandable-div {
                                  height: 0;
                                  overflow: hidden;
                                  transition: height 0.5s ease;
                                  background-color: #f2f2f2;
                                  padding: 10px;
                                }
                      </style>
                     <p>This is an archive page for a <strong>{% if page.serial contains 'D' %}digital{% endif %}{% if page.serial contains 'P' %}physical{% endif %}</strong> artifact: <em><code>{{page.title}}</code></em>.</p>
                     <table>
                        <tr>
                            <td><b>TITLE</b>:</td>
                            <td>"{{page.title}}"</td>
                        </tr>
                        <tr>
                             <td><b>DESCRIPTION:</b></td>
                             <td>{% if page.description %}
                                {% if page.description.size > 0 %}
                                  "{{ page.description }}"
                                {% else %}
                                  No description provided.
                                {% endif %}
                              {% else %}
                                No description provided.
                              {% endif %}</td>
                        </tr>
                        <tr>
                            <td><b>SERIAL ID:</b></td>
                            <td>{{page.serial}}</td>
                        </tr>
                        <tr>
                            <td><b>ITEM SERIALS:</b></td>
                            <td>{% for item in page.items %} {% capture markdown %} 
                                https://{{page.location}}.yeahgames.net/c/artifacts/{% if page.serial contains 'D' %}d{% endif %}{% if page.serial contains 'P' %}p{% endif %}/{{page.serial | remove: 'D' | remove: 'P'}}/{{item | remove: '-' | remove: '1'}}/{{item | remove: '-'| remove: 'yt' | remove: 'png' | remove: 'pdf' | remove: 'md'}}
                                {% endcapture %}{% if item contains "md" %}<a href="{{markdown}}">{% endif %} <a href="https://{{page.location}}.yeahgames.net/c/artifacts/{% if page.serial contains 'D' %}d{% endif %}{% if page.serial contains "P" %}p{% endif %}/{{page.serial | remove: 'D' | remove: 'P'}}/{{item | remove: '-' | remove: '1'}}/{{item | remove: '-'| remove: 'yt' | remove: 'png' | remove: 'pdf' | remove: 'md'}}{% if item contains "png" or "pdf" %}.{% endif %}{{item | remove: 'yt' | remove: 'md' | remove: '-' | remove: '1'}}"> {{page.serial}}–{{item}}</a>;{% endfor %}</td>
                        </tr>
                        <tr>
                            <td><b>DATE:</b></td>
                            <td>{{page.date}}</td>
                        </tr>
                        <tr>
                            <td><b>DATE ARCHIVED:</b></td>
                            <td>{{page.adate}}</td>
                        </tr>
                        <tr>
                            <td><b>TYPE:</b></td>
                            <td>{% if page.serial contains 'D' %}Digital [D]{% endif %}{% if page.serial contains "P" %}Physical [P]{% endif %}</td>
                        </tr>
                       <!-- <tr>
                            <td><b>ITEMS:</b></td>
                            <td>1 external video (YT); 1 image (PNG)</td>
                        </tr>-->
                        <!--<tr>
                            <td><b>STORED FORMAT(S):</b></td>
                            <td>{% if page.serial contains 'D' %}N/A{% endif %}</td>
                        </tr>-->
                        <tr>
                            <td><b>ARCHIVE STATUS:</b></td>
                            <td>{% if page.status %}
                                {% if page.status.size > 0 %}
                                  {% if page.status == 'extytlink' %}One or more items in this artifact are externally-hosted YouTube videos <code>[extytlink]</code>.{% endif %} {% if page.status == 'complete' %}All items in this artifact have been properly uploaded and archived <code>[complete]</code>.{% endif %}
                                {% else %}
                                  Missing or invalid status.
                                {% endif %}
                              {% else %}
                                Missing or invalid status.
                              {% endif %}</td>
                        </tr>
                            <tr>
                            <td><b>NOTES:</b></td>
                            <td>{% if page.notes %}
                                {% if page.notes.size > 0 %}
                                  "{{ page.notes }}"
                                {% else %}
                                  No notes provided.
                                {% endif %}
                              {% else %}
                                No notes provided.
                              {% endif %}</td>
                        </tr>
                        <tr>
                            <td><b>SUBMITTER:</b></td>
                            <td><a   href="//members.yeahgames.net/@{{page.submitter}}"><img   src="https://cdn.yeahgames.net/img/members/profile/default/@{{page.submitter}}.png"   height="16"   width="16"> @{{page.submitter}}</a></td>
                        </tr>
                        <tr>
                            <td><b>ARCHIVIST:</b></td>
                            <td><a   href="//members.yeahgames.net/@{{page.archivist}}"><img   src="https://cdn.yeahgames.net/img/members/profile/default/@{{page.archivist}}.png"   height="16"   width="16"> @{{page.archivist}}</a></td>
                        </tr>
                    </table>
                    <hr/>
                    <h4>Items:</h4>
                    {% for item in page.items %}
                    <h6>{% if item contains "png" %}Image{% endif %}{% if item contains "pdf" %}PDF{% endif %}{% if item contains "yt" %}YouTube video{% endif %}{% if item contains "md" %}Markdown{% endif %}  {{item | remove: '-' | remove: 'yt' | remove: 'png' | remove: 'pdf' | remove: 'md'}}</h6>
                    {% if item contains "png" %}<img src="https://{{page.location}}.yeahgames.net/c/artifacts/{% if page.serial contains 'D' %}d{% endif %}{% if page.serial contains "P" %}p{% endif %}/{{page.serial | remove: 'D' | remove: 'P'}}/{{item | remove: '-' | remove: '1'}}/{{item | remove: '-'| remove: 'yt' | remove: 'png'}}{% if item contains "png" %}.{% endif %}{{item | remove: 'yt' | remove: '-' | remove: '1'}}">{% endif %}
                    {% if item contains "yt" %}<iframe width="560px" height="475px" src="https://www.youtube-nocookie.com/embed/{{page.yt-video-id}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>{% endif %}
                    {% if item contains "pdf" %}<iframe style="max-height: 700px; height: 500px" src="https://{{page.location}}.yeahgames.net/c/artifacts/{% if page.serial contains 'D' %}d{% endif %}{% if page.serial contains "P" %}p{% endif %}/{{page.serial | remove: 'D' | remove: 'P'}}/{{item | remove: '-' | remove: '1'}}/{{item | remove: '-'| remove: 'yt' | remove: 'png' | remove: 'pdf'}}{% if item contains "png" or "pdf" %}.{% endif %}{{item | remove: 'yt' | remove: '-' | remove: '1'}}" title="Embedded PDF viewer" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>{% endif %}
                    {% capture markdown %} 
                    https://{{page.location}}.yeahgames.net/c/artifacts/{% if page.serial contains 'D' %}d{% endif %}{% if page.serial contains 'P' %}p{% endif %}/{{page.serial | remove: 'D' | remove: 'P'}}/{{item | remove: '-' | remove: '1'}}/{{item | remove: '-'| remove: 'yt' | remove: 'png' | remove: 'pdf' | remove: 'md'}}
                    {% endcapture %}
                    {% if item contains "md" %}<iframe style="max-height: 700px; height: 500px" src="{{markdown | replace: '..', ''}}" title="Embedded PDF viewer" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>{% endif %}

                    
                    {% endfor %}                        </div><!--end artifact default layout--><br><br>{{content}}
                        {% if page.category or page.tags %}
                        <div class="catsandtags">
                            {% if page.category %}
                            <span class="category">
                                <span class="name">categories:</span>
                                {{ page.categories | category_links }}
                            </span>
                            {% endif %}
                            {% if page.category and page.tags %}
                                &bull;
                            {% endif %}
                            {% if page.tags %}
                            <span class="tags">
                                <span class="name">tags:</span>
                                {% for tag in page.tags %}
                                    <a href="{{ site.tag_dir | prepend: site.baseurl | replace: '//', '/' }}/{{ tag }}">{{ tag }}</a>
                                {% endfor %}
                            </span>
                            {% endif %}
                            <hr/>
                            <script src="https://giscus.app/client.js"
        data-repo="yeah-games/library"
        data-repo-id="R_kgDOIrwbaA"
        data-category="Announcements"
        data-category-id="DIC_kwDOIrwbaM4CTSVt"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="light"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
                        </div>
                        {% endif %}
                        
                    </article>
                    <div class="post-nav">
                        {% if page.previous.url %}
                        <a class="btn prev" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}"><i class="fa fa-angle-left"></i><span class="short"> prev</span><span class="long">ious post</span></a>
                        {% endif %}
                        {% if page.next.url %}
                        <a class="btn next" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}"><span class="short">next </span><span class="long">post </span><i class="fa fa-angle-right"></i></a>
                        {% endif %}
                    </div>
                </div>
                {% include classic-sidebar.html %}
            </div>
        </div>
        {% include footer.html %}
        
    </body>
</html>
