<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
    </head>

    <body class="index">
       <header class="head">
           {% include nav.html %}
                      {% include header.html %}
        </header>
        {% include search.html %}
        <div class="margin">
            <div class="content">
                <div class="switch">
                    <div id="grid"><span></span></div>
                    <div id="classic"><span></span></div>
                </div>
                {% if page.title %}<h3 class="title">{{ page.title }}</h3>{% endif %}
                <div class="articles">
                    {{ content }}
                </div>
            </div>
        </div>
        {% include footer.html %}
      
    </body>
</html>
