<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
    </head>

    <body class="has-classic-sidebar-left">
        <header class="head">
            {% include nav.html %}
            {% include header.html %}
        </header>
        {% include search.html %}
        <div class="margin">
            <div class="content">
                <div class="content-container">
                    <article>

                        <h1 class="page-title">
                            {{ page.title }}
                        </h1>
                        <div class="post-content">
                            {{ content }}
                        </div>
                        <script src="https://giscus.app/client.js"
        data-repo="yeah-games/library"
        data-repo-id="R_kgDOIrwbaA"
        data-category="Announcements"
        data-category-id="DIC_kwDOIrwbaM4CTSVt"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="light"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
                    </article>
                </div>
                {% include classic-sidebar.html %}
            </div>
        </div>
        {% include footer.html %}
        
    </body>
</html>
